%header.french
  %h1 La Table Francophone
  %h2 R&eacute;unions Francophones &agrave; Boulder

%section.french
  %h1 O&ugrave;?
  %p Au Bacaro. Boulder, Colorado

%section.french
  %h1 Quand?
  %p Tous les mardi, &agrave; partir de 18h

%section.french
  %h1 Pourquoi?
  %p Pratiquer votre Fran&ccedil;ais, rencontrer d'autre Francophones, chatter, boire un coup&hellip;

%section.french
  %h1 Nous Contacter
  %p
    Par
    = link_to 'couriel', 'mailto:contact@latablefrancophone.org'

%header.french
  %h1 The French Table
  %h2 French speakers meetups, in Bouler

%section.english
  %h1 Where?
  %p At Bacaro. Boulder, Colorado

%section.english
  %h1 When?
  %p Every Wednesday, from 6pm

%section.english
  %h1 Why?
  %p Practice your French, meet native French speakers, chat, have a drink&hellip;

%section.english
  %h1 Contact us
  %p
    By
    = link_to 'email', 'mailto:contact@latablefrancophone.org'
