%header.french
  %h1 La Table Francophone
  %h2 R&eacute;unions Francophones &agrave; Boulder
%section.french
  %dl
    %dt O&ugrave;?
    %dd Bacaro. Boulder, Colorado
  %dl
    %dt Quand?
    %dd Tous les mardi, &agrave; partir de 18h
  %dl
    %dt Pourquoi?
    %dd Pratiquer votre Fran&ccedil;ais, rencontrer d'autre Francophones, chatter, boire un coup&hellip;
  %dl
    %dt Nous Contacter
    %dd Par #{link_to 'couriel', 'mailto:contact@latablefrancophone.org'}
    %dd Sur #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}

%header.english
  %h1 The French Table
  %h2 French speakers meetups, in Boulder

%section.english
  %dl
    %dt Where?
    %dd At Bacaro. Boulder, Colorado
  %dl
    %dt When?
    %dd Every Tuesday, from 6pm
  %dl
    %dt Why?
    %dd Practice your French, meet other French speakers, chat, have a drink&hellip;
  %dl
    %dt Contact us
    %dd By #{link_to 'email', 'mailto:contact@latablefrancophone.org'}
    %dd On #{link_to 'Facebook', 'https://www.facebook.com/groups/latableboulder/'}
