%dl.french
  %dt.header.french
    %h1 La Table Francophone
    %h2 R&eacute;unions Francophones &agrave; Boulder
  %dt O&ugrave;?
  %dd Bacaro. Boulder, Colorado
  %dt Quand?
  %dd Tous les mardi, &agrave; partir de 18h
  %dt Pourquoi?
  %dd Pratiquer votre Fran&ccedil;ais, rencontrer d'autre Francophones, chatter, boire un coup&hellip;
  %dt Nous Contacter
  %dd Par #{link_to 'couriel', 'mailto:contact@latablefrancophone.org'}

%dl.english
  %dt.header.english
    %h1 The French Table
    %h2 French speakers meetups, in Boulder
  %dt Where?
  %dd At Bacaro. Boulder, Colorado
  %dt When?
  %dd Every Wednesday, from 6pm
  %dt Why?
  %dd Practice your French, meet native French speakers, chat, have a drink&hellip;
  %dt Contact us
  %dd By #{link_to 'email', 'mailto:contact@latablefrancophone.org'}
