@import 'grid.css.scss';
@import 'compass/css3';

$columns: 12;
$column-width: 60;
$gutter-width: 0;
$total-width: 100%;

$blackish: #333;
$greyish: #f2f2f2;
$border-color: #ccc;
$bright-color: #74D0F1;

body {
  font-family: 'Helvetica Neue' sans-serif;
  font-size: .9em;
  background-color: $greyish;
  color: $blackish;
}

a:link, a:hover, a:visited, a:visited {
  color: $bright-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  @include column(12);
  background-color: $bright-color;
  padding: .5%;
  box-sizing: border-box;

  h1, h2 {
    font-weight: bold;
    font-size: 200%;
    display: block;
    max-width: 1200px;
    margin: .5em auto;
    padding: 0 .5%;
    box-sizing: border-box;
  }

  h2 {
    font-size: 130%;
    color: #fff;
  }
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

dl {
  max-width: 1200px;
  height: 10em;
  @include column(3);
  margin: .5% 0;
  padding: .5% 1%;
  box-sizing: border-box;
  border-left: 1px solid $border-color;

  &:last-child {
    border-right: 1px solid $border-color;
  }

  &:hover {
    background-color: $blackish;
    color: $greyish;
  }

  dt {
    font-weight: bold;
    font-size: 150%;
    padding-bottom: .2em;
    margin-top: .5%;
    height: 30%;
  }

  dd {
    margin-bottom: 3%;
  }
}


@media (max-width: 640px) {
  header {
    padding: 1% 3%;
  }

  dl {
    @include column(12);
    border-bottom: 1px solid $border-color;
    height: 6em;
    padding: 2% 3%;
  }
}
