@import 'grid.css.scss';
@import 'compass/css3';

$columns: 12;
$column-width: 60;
$gutter-width: 0;
$total-width: 100%;

$blackish: #333;
$grey: #666;
$greyish: #f8f8f8;
$border-color: #fff;
$blue: rgba(116, 208, 241, .8);

@mixin serif {
  font-family: 'Pacifico', 'Georgia' serif;
  font-weight: 400;
}

@mixin sans-serif {
  font-family: 'Didact Gothic' 'Helvetica Neue' sans-serif;
  font-weight: 400;
}

body {
  @include sans-serif;
  font-size: .9em;
  background: $greyish image_url('debut_light.png') top left repeat;
  color: $grey;
}

a:link, a:hover, a:visited, a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  @include column(12);
  background-color: $blue;
  padding: 2% .5%;
  box-sizing: border-box;
  border: .5em solid $border-color;
  border-width: .5em 0;

  h1 {
    @include serif;
    color: $blackish;
  }

  h1, h2 {
    font-weight: 400;
    font-size: 200%;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 .5%;
    box-sizing: border-box;
  }

  h2 {
    font-size: 130%;
    color: #fff;
  }
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

dl {
  max-width: 1200px;
  height: 10em;
  @include column(3);
  margin: .5% 0;
  padding: .5% 1%;
  box-sizing: border-box;
  border: 2px solid $border-color;
  border-width: 0 0 0 2px;

  &:last-child {
    border-width: 0 2px;
  }

  &:hover {
    background-color: $blackish;
    color: $greyish;

    dt {
      color: $greyish;
    }
  }

  dt {
    @include serif;
    color: $blackish;
    font-size: 150%;
    padding-bottom: .2em;
    margin-top: .5%;
    height: 30%;
  }

  dd {
    line-height: 1.5em;

    &:last-child {
      margin-bottom: 3%;
    }
  }
}


@media (max-width: 640px) {
  header {
    padding: 2% 3%;
  }

  dl {
    @include column(12);
    border-width: 0 0 2px 0;
    height: 6.5em;
    padding: 2% 3%;

    &:last-child {
      border-width: 0;
    }
  }
}
