@import "reset";
@import "fonts";

$columns: 12;
$column-width: 60;
$gutter-width: 0;
$total-width: 100%;

$blackish: #333;
$grey: #666;
$greyish: #f8f8f8;
$border-color: #fff;
$blue: rgba(116, 208, 241, .8);

@mixin serif {
  font-family: 'Pacifico', 'Georgia', serif;
  font-weight: 400;
}

@mixin sans-serif {
  font-family: 'Didact Gothic', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

body {
  @include sans-serif;
  font-size: 16px;
  background: $greyish url('bg.png') top left repeat;
  color: $grey;
}

a:link, a:hover, a:visited, a:visited {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: $blue;
  padding: 1rem 0;
  box-sizing: border-box;
  border: .5rem solid $border-color;
  border-left: 0;
  border-right: 0;

  h1 {
    @include serif;
    color: $blackish;
  }

  h1, h2 {
    padding: 0 2rem;
    font-weight: 400;
    font-size: 2rem;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  h2 {
    font-size: 1.3rem;
    color: #fff;
  }
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

dl {
  max-width: 1200px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: 0 solid $border-color;
  border-width: 0 0 2px 0;

  &:last-child {
    border-width: 0;
  }

  &:hover {
    background-color: $blackish;
    color: $greyish;

    dt {
      color: $greyish;
    }
  }

  dt {
    @include serif;
    color: $blackish;
    font-size: 1.5rem;
    padding-bottom: .2rem;
  }

  dd {
    line-height: 1.5rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}


@media (min-width: 640px) {
  section {
    display: flex;

    > * {
      flex: 1;
    }
  }

  dl {
    border-width: 0 2px 0 0;

    &:last-child {
      border-width: 0;
    }
  }
}
